# 공통 무시 항목
node_modules/
*.log
.DS_Store
.env
.env.local
.env.*.local

# IDE 관련
.idea/
.vscode/

# OS 관련
Thumbs.db
.DS_Store

# Next.js (front 폴더)
front/.next/
front/out/
front/node_modules/
front/.env
front/.env.local
front/.env.*.local
front/next-env.d.ts
front/.next/cache
front/.vercel/
front/.firebase/

# Tailwind CSS
front/tailwind-nextjs.jpg
front/tailwind.config.js
front/postcss.config.js

# Server (server 폴더)
server/node_modules/
server/.env
server/.env.local
server/.env.*.local
server/logs/
server/debug.log

# 기타
dist/
coverage/
